@import url('iconStyle.css');

@font-face {
    font-family: "Source";
    src: url("../fonts/SourceSansPro-Regular.ttf");
}
@font-face {
    font-family: "SourceL";
    src: url("../fonts/SourceSansPro-Light.ttf");
}
@font-face {
    font-family: "SourceB";
    src: url("../fonts/SourceSansPro-Bold.ttf");
}

.sinB{
    border-radius: 0px !important;
    background: #FFF;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
}
body {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    color: #525975;
    font-family: 'Source', sans-serif;
}


body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.container .text-muted {
    margin: 20px 0;
    color: #666666;
    font-size: 12px
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #F1F6FC;
  text-align: right;
}
h1 {
    font-weight: bold;
    font-size: 48px;
}
.titulo1 {
    font-family: 'SourceB', sans-serif;
    font-weight: bold;
    color: #bebebe;
}
.titulo2, tspan {
    font-family: 'SourceL', sans-serif;
    color: #515974;
}
.titulo3 {
    font-family: 'SourceB', sans-serif;
    color: #bebebe;
    font-size: 18px;
}
.titulo3 > small {
    font-family: 'SourceB', sans-serif;
    color: #737373;
    font-size: 30px;
}
.titulo4 {
    color: #9f9f9f;
}
.sombra {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
}
a, a:hover, .btn {
    font-family: 'Source', sans-serif;
    transition: 0.2s;
    text-decoration: none;
}
p {
    font-family: 'Source', sans-serif;
}

.btn {
    transition: 0.2s;
    padding: 6px 50px;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 10px;
}
.dropdown-toggle {
    padding: 5px 10px;
}
.btn-success {
    color: #fff;
    background-color: #b6c42f;
    border-color: #b6c42f;
}
.btn-success:hover, .btn-success:focus, .btn-success:active:hover, .btn-success:visited {
    color: #fff;
    background-color: #a5b325;
    border-color: #a5b325;
}
.btn-warning {
    color: #fff;
    background-color: #f8b107;
    border-color: #f8b107;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active:hover, .btn-warning:visited  {
    color: #fff;
    background-color: #eba807;
    border-color: #eba807;
}
.btn-danger {
    color: #fff;
    background-color: #fe0036;
    border-color: #fe0036;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active:hover, .btn-danger:visited  {
    color: #fff;
    background-color: #e80737;
    border-color: #e80737;
}


.text-success {
    color: #b6c42f !important;
}
.text-success:hover, .text-success:focus, .text-success:active:hover, .text-success:visited {
    color: #a5b325 !important;
}
.text-warning {
    color: #f8b107 !important;
}
.text-warning:hover, .text-warning:focus, .text-warning:active:hover, .text-warning:visited  {
    color: #eba807 !important;
}
.text-danger {
    color: #fe0036 !important;
}
.text-danger:hover, .text-danger:focus, .text-danger:active:hover, .text-danger:visited  {
    color: #e80737 !important;
}
.text-porcentaje {
    color: #29beaa;
}


.bg-success {
    color: #fff;
    background-color: #b6c42f !important;
    border-color: #b6c42f;
}
.bg-warning {
    color: #fff;
    background-color: #f8b107 !important;
    border-color: #f8b107;
}
.bg-danger {
    color: #fff;
    background-color: #fe0036 !important;
    border-color: #fe0036;
}
.bg-info {
    color: #fff;
    background-color: #00b4f1 !important;
    border-color: #00b4f1;
}

.midOpacity {
    opacity: .3;
}


.glyphicon {
    top: 3px;

}
.modal-header, .modal-footer {
    border:0;
    text-align: center;
}
.modal-footer .btn{
    margin-top: 10px;
}
.premios {
    width: 300px;
}
.labelPremios {
    margin-right: 10px;
}
.inputPremios {
    width: 50px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-left: 10px;
}
.btnAnimos {
    color: #a3a3a3;
    margin-top: 5px;
    padding: 6px 5px;
    text-align: center;
    width: 140px;
}
.form-control-inline {
   width: auto;
   float:left;
   margin-right: 5px;
   margin-top: 10px;
}
.checkbox {

}
.radioInput {
    margin-left: 10px !important;
}
.circleArrow {
    font-size: 16px;
    background: #FFF;
    border-radius: 50px;
    padding: 10px;
    top: -1px;
}
.panel-body {
    background: #e4eaa5;
    padding: 5px 15px;
}
.panel-body .tableBtn {
    margin:0;
    color: #70787e;
}
.panel-body .tableBtn .glyphicon {
    margin-left: 10px;
}
.panel-body .tableBtn td {
    padding: 0;
    padding-top: 10px;
    border: 0;
}
.franjaTop {
    background: url('../img/original.png') top center;
    background-size: 300px 100%;
    width: 100%;
    height: 60px;
}
.franjaLeft {
    width: 20px;
    height: 100%;
    background: repeating-linear-gradient(
      125deg,
      #b3713d,
      #b3713d 20px,
      #ac6c3c 20px,
      #ac6c3c 40px
    );
    position: fixed;
    left: 0;
}
.recuadro {
    height: 100px;
}
.recuadroInfo {
    height: 80px;
}
.imgRecuadro {
    float: left;
    height: 80px;
    width: 80px;
    margin-right: 10px;
}
.imgRecuadro2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
}
.pointer {
    cursor: pointer;
}
.pointer span {
    cursor: pointer;
    margin-top: 20px;
}
.cuadroReportes {
    padding: 20px 0 !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}
.cuadroReportes h4 {
    margin-top: 30px;
}
.imgReportes {
    float: left;
    width: 80px;
}
.imgReportes2 {
    width: 100px;
}
.masUsuarios {
    background: #F1F6FC;
    border-radius: 10px;
    text-align: center;
}
.cajaAzul {
    background: #F1F6FC;
    border-radius: 5px;
    padding: 10px;
}
.cajaNaranja {
    background: #fffbdb;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}
.cajaNaranja h5 {
    text-transform: uppercase;
}
.cajaNaranja .divTitulo {
    padding-bottom: 10px;
}
.cajaNaranja img {
    float: left;
    width: 50px;
    margin: 10px;
    vertical-align: middle;
}
.cajaNaranja .media-body {
    width: 100%;
}
.cajaNaranja th {
    vertical-align: middle !important;
}
.cajaNaranja td {
    vertical-align: middle !important;
    padding: 0 !important;
    padding-left: 8px !important;
}
.fondoPublicidad {
    background: #eee;
    text-align: center;
    height: 300px;
    padding: 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 0 auto;
    width: 300px;
    height: 300px;
}
.fondoPublicidad2 {
    text-align: center;
    height: 300px;
    padding: 0;
    padding-top: 80px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
}
.fondoPublicidad2 img {
    width: 100px;
}
.fondoAgregarPublicidad {
    background: #FFF;
    text-align: center;
    height: 300px;
    padding: 40px 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
}
.btnPublicidad {
    position: absolute;
    width: 300px;
    left: 0;
    bottom: 0;
    font-size: 18px;
    color: #b2b2b2;
    background: #FFF;
    border-radius: 0px 0px 10px 10px;
    padding: 5px 0;
    border: 1px solid #b2b2b2;
}
.imgPublicidad {
    border-radius: 80px;
    width: 80px;
    font-size: 48px;
    color: #bec8d6;
}
.imgPublicidad2 {
    border-radius: 10px;
}
.boxImgPublicidad h4 {
    font-size: 32px;
    color: #bec8d6;
}
.agregarCategoria {
    margin: 0 auto;
}
.fondoCategoria {
    background: linear-gradient(180deg, #eee 50%, #FFF 50%);
    text-align: center;
    height: 300px;
    padding-top: 80px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
}
.boxImgCategoria {
    background: #FFF;
    border-radius: 100px;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    padding-top: 20px;
}
.fondoCategoria > h2 {
    padding: 0px 10px;
    margin-top: 0;
}

.imgCategoria {
    border-radius: 80px;
    width: 80px;
    font-size: 30px;
}
.colorCategoria {
    position: absolute;
    top: 10px;
    margin-left: 200px;
}
.btnCategoria {
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: 5px;
    font-size: 18px;
    color: #b2b2b2;
}
/*FONDOS*/
.comida {background: linear-gradient(180deg, #fddf9f 50%, #FFF 50%);}
.contadores {background: linear-gradient(180deg, #3ee0e7 50%, #FFF 50%);}
.desarrollo {background: linear-gradient(180deg, #ffd6e7 50%, #FFF 50%);}
.pediatras {background: linear-gradient(180deg, #fa7450 50%, #FFF 50%);}
.proximamente {background: linear-gradient(180deg, #ffde5e 50%, #FFF 50%);}
.tiendas {background: linear-gradient(180deg, #91cc04 50%, #FFF 50%);}
/*TEXTOS*/
.comidaT {color: #fddf9f;}
.contadoresT {color: #3ee0e7;}
.desarrolloT {color: #ffd6e7;}
.pediatrasT {color: #fa7450;}
.proximamenteT {color: #ffde5e;}
.tiendasT {color: #91cc04;}

.usuariosON {
    background: #F1F6FC;
    border-radius: 5px;
    padding: 10px;
}
.usuariosON2 {
    background: #F1F6FC;
    border-radius: 5px;
    padding: 5px;
}
.usuariosON h5 {
    text-transform: uppercase;
}
.usuariosON h4 {
    display: inline;
}
.usuariosON > div {
    border-bottom: 1px solid #cad4e3;
}
.usuariosON img {
    float: left;
    width: 50px;
    margin: 10px;
    vertical-align: middle;
}
.tituloColegio {
    padding: 10px;
}
.tituloColegio h3, .tituloColegio h4 {
    width: 250px;
    margin-top: 7px;
}
.tituloColegio h3:hover, .tituloColegio h4:hover {
    text-decoration: underline;
    cursor: pointer;
}
.tituloColegio .glyphicon {
    float: right;
}
.starActivo {
    font-size: 30px;
}
.datosMasUsuarios h2 {
    margin: 0;
    color: #444;
}
.fila {
    margin: 20px 0;
}
.fila > div {
    margin-bottom: 20px;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    margin-bottom: 200px;
    padding-left: 0;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

#wrapper.toggled {
    padding-left: 100px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 100px;
    width: 0;
    height: 100%;
    margin-left: -100px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #b6c42f;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 100px;
}

#page-content-wrapper {
    width: 100%;
}
#hamburger { animation: tada_9358 7.6s linear infinite; transform-origin: 50% 50%; } @keyframes tada_9358 { 0% { transform: scale(1) } 2.63158% { transform:scale(.9) rotate(-8deg) } 5.26316% { transform:scale(.9) rotate(-8deg) } 7.89474% { transform:scale(1.3) rotate(8deg) } 10.52632% { transform:scale(1.3) rotate(-8deg) } 13.15789% { transform:scale(1.3) rotate(8deg) } 15.78947% { transform:scale(1.3) rotate(-8deg) } 18.42105% { transform:scale(1.3) rotate(8deg) } 21.05263% { transform:scale(1) rotate(0) } 100% { transform:scale(1) rotate(0) } }
#wrapper.toggled #page-content-wrapper {
    margin-right: -150px;
}

.header {
    background: url('../img/original.png') top center;
    background-size: 300px 100%;
    height: 100%;
    width: 100%;
    padding: 0px 0px;
    color: #FFF;
    margin: 0;
    border-radius: 0;
    border: 0;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #555;
    color: #FFF;
}
.navbar-inverse .navbar-toggle {
    border-color: #D0D880;
    background: #D0D880;
    color: #555;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #D0D880;
}
.navbar-inverse {

}

/*-------------------------------*/
/*     Director       */
/*-------------------------------*/
.subirBox {
    padding: 40px 20px;
}
.subirIncono {
    font-size: 100px;
    cursor: pointer;
}

.ficha {
    background: #F1F6FC;
    padding: 10px;
}

.img2{
	position: absolute;
    top:10px;
    right: 10px;
    width: 60px;
}

.recuadrop{
	height: 150px;
}

.IconoLapiz{
	float: right;
}

.radiosbebe{
	background-color: #b6c42f;
	border-radius: 50px;
	width: 100px;
	color: #fff;
	padding: 0px 10px;
	margin: 0 auto;
	margin-bottom: 10px;
}




/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100px;
    min-height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    border-left: 20px solid #ac6c3c;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 0px;
    background: #b0bd31 url("../img/ramita.png") no-repeat bottom left;
    -webkit-transition: width .3s ease-in;
      -moz-transition:  width .3s ease-in;
       -ms-transition:  width .3s ease-in;
            transition: width .3s ease-in;
}
.sidebar-nav li.brand::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background: #b0bd31;
    -webkit-transition: width .3s ease-in;
    -moz-transition: width .3s ease-in;
    -ms-transition: width .3s ease-in;
    transition: width .3s ease-in;
}
.brand img {
    margin-bottom: 10px;
}
.icon {
    width: 31px;
    height: 29px;
    position: absolute;
    margin-left: -35px;
    margin-top: -5px;
}
.iconoPerfil {
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 100px;
    padding: 10px;
    border: 1px solid #666666;
}
.perfil {
    padding: 3px !important;
}
.perfil > h4 {
    margin: 0;
}
.iconoMenu {
    width: 50px;
}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #b6c42f;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #b0bd31;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #b0bd31;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #b0bd31;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #b0bd31;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #b0bd31;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #b0bd31;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #b0bd31;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #b0bd31;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .3s ease-in;
      -moz-transition:  width .3s ease-in;
       -ms-transition:  width .3s ease-in;
            transition: width .3s ease-in;

}
.modal {
    top: 30px;
}
.borderCuadro {
    border-radius: 5px;
    border: 1px solid #eee;
}
input[type="file"] {
    margin: 0 auto;
}
.sidebar-nav li a {
    display: block;
    color: #FFF;
    text-decoration: none;
    padding: 10px 15px 25px 15px;
}
.sidebar-nav li[title]:hover:after, .botonesRight button[title]:hover:after, .botonesRight a[title]:hover:after, .topBar button[title]:hover:after {
  content: attr(anything);
  padding: 2px 4px;
  color: #FFF;
  position: absolute;
  left: -15px;
  top: 100%;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 1px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background: #666666;
}
.dropdown-menu > li > a {
    padding: 5px 10px;
    font-size: 14px;
}
li.brand[title]:hover:after {
    padding: 5px 8px;
}
.boxAllNotif {
    padding: 10px;
    width: 320px;
}
.boxAllNotif p {
    color: #666666;
    margin: 0 0 5px;
}
.boxNotif {
    background: #eee;
    border-radius: 5px;
    margin-bottom: 10px;
}
.boxNotif:hover, .boxNotif:active, .boxNotif:focus {
    background: #E4EAA5 !important;
}
.tiempoNotif {
    position: absolute;
    right: 20px;
    color: #909090 !important;
    font-size: 12px;
    font-style: italic;
}
.tituloNotif {
    font-size: 16px;
}
.verTodas {
    background: #eb6d2f;
    color: #FFF !important;
}
.boxAllThemes {
    padding: 10px;
}
.boxAllThemes p {
    color: #666666;
    margin: 0 0 5px;
}
.verTodas:hover, .verTodas:active, .verTodas:active, .verTodas:focus{
    background: #de652a !important;
    color: #FFF !important;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus,
.sidebar-nav li a.activo {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.sidebar-nav li a.activo {
    font-weight: bold;
}
.sidebar-nav li.activoli {
    background: #a2af2b url("../img/ramita.png") no-repeat bottom left;
}
.sidebar-nav > .sidebar-brand {
    height: auto;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}
.total {
    padding: 5px 15px;
    background: #eee;
    border-radius: 50px;
    text-align: center;
}
.total2 {
    padding: 5px 15px;
    background: #eee;
    border-radius: 50px;
    text-align: left;
    width: 300px;
    margin-top: 20px;
}
.total3 {
    padding: 5px 15px;
    background: #eee;
    border-radius: 50px;
    text-align: center;
    margin-top: 30px;
}
.botonesNiveles {
    padding-top: 100px;
}
.botonesNiveles2 {
    padding-top: 10px;
}
.botonesNiveles .total {
    width: 200px;
    margin-bottom: 10px;
}
.botonesNiveles2 .total {
    width: 200px;
    margin-bottom: 10px;
}
.totales strong {
    padding: 5px 15px;
    background: #eee;
    border-radius: 50px;
}
.totales div {
    margin-bottom: 20px;
}
.topBar {
    padding-left: 70px;
    height: 60px;
}
.imgNino {
    width: 40px;
    margin-top: -8px;
}
.imgNino2 {
    width: 30px;
    margin-top: -8px;
}
#usuario {

}
.contenido {
    padding: 0 100px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
    position: absolute;
    top: 15px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 25px;
    background: transparent;
    border: none;
    color: #666;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #666;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .2s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .2s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .3s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .3s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #555;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.idioma {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.btnIdioma {
    background: none;
    border-radius: 0;
    border: 0;
    padding: 0 5px;
    height: 60px;
}
.btnIdioma:hover, .btnIdioma:active, .btnIdioma:visited, .btnIdioma:focus, .btnIdioma.active.focus, .btnIdioma.active:focus, .btnIdioma.active:hover, .btnIdioma.focus:active, .btnIdioma:active:focus, .btnIdioma:active:hover, .open > .dropdown-toggle.btnIdioma.focus, .open > .dropdown-toggle.btnIdioma:focus, .open > .dropdown-toggle.btnIdioma:hover, .btnIdioma.active, .btnIdioma:active, .open > .dropdown-toggle.btnIdioma {
    background: #d0d880;
}
.btnIdioma2 {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 6px 6px;
    float: right;
}
.btnIdioma2:hover, .btnIdioma2:active, .btnIdioma2:visited, .btnIdioma2:focus, .btnIdioma2.active.focus, .btnIdioma2.active:focus, .btnIdioma2.active:hover, .btnIdioma2.focus:active, .btnIdioma2:active:focus, .btnIdioma2:active:hover, .open > .dropdown-toggle.btnIdioma2.focus, .open > .dropdown-toggle.btnIdioma2:focus, .open > .dropdown-toggle.btnIdioma2:hover, .btnIdioma2.active, .btnIdioma2:active, .open > .dropdown-toggle.btnIdioma2 {
    background: #ccc;
}

.btnIdioma3 .dropdown-toggle, .btnIdioma3 .dropdown-menu { width: 90px }
.btnIdioma3 .btn-group img { margin-right: 10px }
.btnIdioma3 .dropdown-toggle { padding-right: 0px }
.btnIdioma3 .dropdown-toggle .glyphicon { margin-left: -10px; margin-right: 0px }
.btnIdioma3 .dropdown-menu { min-width: 90px;}
.btnIdioma3 .dropdown-menu>li>a {text-align: center}
.btnIdioma3 .dropdown-menu>li>a:hover { background: #f1f9fd } /* $search-blue */
.btnIdioma3 .dropdown-header { background: #ccc; font-size: 14px; font-weight: 700; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; margin-bottom: 5px }


.dropdown-menu {
    left: auto;
    right: 0;
}
.botonesRight {
    position: absolute;
    top: 0;
    right: 10px;
    width: 180px;
    height: 60px;
}
.input-group {
    width: 100%;
}
.form-control {
    border-radius: 150px !important;
    background: #ededed;
}
.select {
    border-radius: 4px !important;
    background: #fbfbfb;
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bebebe;
    opacity: 1;
    font-weight: bold;
    font-size: 12px;
}
.form-control:-moz-placeholder { /* Chrome/Opera/Safari */
    color: #bebebe;
    opacity: 1;
    font-weight: bold;
    font-size: 12px;
}
.form-control::-ms-input-placeholder { /* Chrome/Opera/Safari */
    color: #bebebe;
    opacity: 1;
    font-weight: bold;
    font-size: 12px;
}
.form-control::-moz-placeholder { /* Chrome/Opera/Safari */
    color: #bebebe;
    opacity: 1;
    font-weight: bold;
    font-size: 12px;
}
.top{
    margin-top: 10px;
}

.input-group-addon:last-child {
    border-left: 0;
    background: #fff !important;
}

.form-control2 {
    border-radius: 20px !important;
    border: 0;
    background: #FFF;
    margin: 5px 0 !important;
    padding: 5px;
    padding-left: 15px;
}
.form-control3 {
    border-radius: 10px !important;
    background: #FFF;
    margin: 5px 0 !important;
    padding: 5px;
    padding-left: 15px;
}

.formPremio{
    width: 140px;
    background-color: #ededed;
    border-radius: 20px !important;
    margin: 5px 0 !important;
    padding: 5px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 0;
}


.loginInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bebebe;
    opacity: 1;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.loginInput:-moz-placeholder { /* Chrome/Opera/Safari */
    color: #bebebe;
    opacity: 1;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.loginInput::-ms-input-placeholder { /* Chrome/Opera/Safari */
    color: #bebebe;
    opacity: 1;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.loginInput::-moz-placeholder { /* Chrome/Opera/Safari */
    color: #bebebe;
    opacity: 1;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
thead {
    background: #fffbdb;
}
.iconTable {
    margin-left: 5px;
}
.starColor {
    margin: 0 5px;
}
.panel {
    border-radius: 0;
}
.boxSearch {
    padding: 10px
}
.boxSearch2 {
    padding: 5px;
}
.addNewBtn {
    padding: 5px 20px;
}
.panel-heading {
    padding: 10px 0px;
}
.btnSearch {
    background: none;
    border-radius: 150px !important;
    border: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    color: #666;
    font-size: 26px;
    position: absolute;
    z-index: 2000 !important;
    top: -2px;
    left: 40px;
}
.searchMenu {
    padding-left: 50px;
}
.checking {
    width: 30px;
}
.boxSearch2 .btnSearch {
    position: absolute;
    z-index: 2000 !important;
    top: -2px;
    left: 8px;
}
.boxSearch2 .searchMenu2 {
    padding-left: 50px !important;
}
.btnSearch:hover, .btnSearch:active, .btnSearch:visited, .btnSearch:focus, .btnSearch.active.focus, .btnSearch.active:focus, .btnSearch.active:hover, .btnSearch.focus:active, .btnSearch:active:focus, .btnSearch:active:hover, .open > .dropdown-toggle.btnSearch.focus, .open > .dropdown-toggle.btnSearch:focus, .open > .dropdown-toggle.btnSearch:hover, .btnSearch.active, .btnSearch:active, .open > .dropdown-toggle.btnSearch {
    background: none;
    color:#858585;
}
.imgTtitulo {
    width: 100px;
}
.btnNotif {
    background: none;
    border-radius: 0;
    border: 0;
    padding: 15px 10px;
    margin: 0 auto;
}
.btnNotif img {
    width: 30px;
}
.btnNotif:hover, .btnNotif:active, .btnNotif:visited, .btnNotif:focus, .btnNotif.active.focus, .btnNotif.active:focus, .btnNotif.active:hover, .btnNotif.focus:active, .btnNotif:active:focus, .btnNotif:active:hover, .open > .dropdown-toggle.btnNotif.focus, .open > .dropdown-toggle.btnNotif:focus, .open > .dropdown-toggle.btnNotif:hover, .btnNotif.active, .btnNotif:active, .open > .dropdown-toggle.btnNotif {
    background: #d0d880;
}
.numberNotif {
    border-radius: 150px;
    background: #009bfe;
    color: #fff;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
}
.noP {
    padding: 0 !important;
}
.vistaLogin {
    padding: 50px 0;
    margin-bottom: 100px;
}
.alert {
    margin-top: 50px;
}
.alert p {
    font-size: 22px;
    vertical-align: middle;
}
/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}



/* RESPONSIVE *****************************************/


/* Menores que 767px */

@media screen and (max-width: 767px) {
    h2 {
        font-size: 26px;
    }
    .navbar-header {
        height: 60px;
    }
    .botonesRight {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        height: 60px;
    }
    .dropdown-menu {
        left: 0;
        right: 0;
    }
    .topBar {
        padding-left: 10px;
    }
    .btnIdioma2 {
        float: inherit;
    }
    .cajaAzul {
        margin-top: 10px;
    }
    .fondoCategoria {
        margin-top: 5px;
    }
    .fondoCategoria > h2 {
        font-size: 20px;
    }
    .agregarCategoria {
        width: 100%;
    }
    .colorCategoria {
        margin-left: 180px;
    }
    .botonesNiveles {
        padding-top: 10px;
    }
    .img2 {
        position: absolute;
        top: auto;
        right: 10px;
        width: 40px;
        bottom: 10px;
    }
    .cuadroReportes h5 {
        margin-top: 20px;
        margin-left: 25px;
    }
    .btn {
        margin-bottom: 10px;
    }
    .imgReportes2 {
        width: 80px;
        margin-right: -10px;
    }
    .btnIdioma3 .dropdown-menu { position: relative}
}



/* Entre que 320px y 460px */

@media screen and (min-width: 300px) and (max-width: 460px) {

}
