/* Color principal */
#sidebar-wrapper {
    background: rgba(129,212,250,1);
    background: -moz-linear-gradient(top, rgba(129,212,250,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(129,212,250,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(129,212,250,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(129,212,250,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(129,212,250,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(129,212,250,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81d4fa', endColorstr='#ffffff', GradientType=0 );
}
.franjaTop, .btn-success, .navbar-inverse .navbar-toggle {
    background: #81D4FA;
    border-color: #81D4FA;
}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #81D4FA;
}

/*Color principal hover-active */
/*Un poco mas osbcuro que el principal */
.sidebar-nav li.activoli {
    background: #B3E5FC url(../img/ramita.png) no-repeat bottom left;
}
.sidebar-nav li:nth-child(2):before,
.sidebar-nav li:nth-child(3):before,
.sidebar-nav li:nth-child(4):before,
.sidebar-nav li:nth-child(5):before,
.sidebar-nav li:nth-child(6):before,
.sidebar-nav li:nth-child(7):before,
.sidebar-nav li:nth-child(8):before,
.sidebar-nav li:nth-child(9):before,
.btn-success:hover, .btn-success:focus, .btn-success:active:hover, .btn-success:visited {
    background-color: #B3E5FC;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #B3E5FC;
}


/* Top bar y header de tablas */
.header {
    background: url('../img/tema1.png') top center;
    background-size: 300px 100%;
}
.panel-body, .boxNotif:hover, .boxNotif:active, .boxNotif:focus {
    background: #E1F5FE;
}
/* Dropdown hover */
.btnNotif:hover, .btnNotif:active, .btnNotif:visited, .btnNotif:focus, .btnNotif.active.focus, .btnNotif.active:focus, .btnNotif.active:hover, .btnNotif.focus:active, .btnNotif:active:focus, .btnNotif:active:hover, .open > .dropdown-toggle.btnNotif.focus, .open > .dropdown-toggle.btnNotif:focus, .open > .dropdown-toggle.btnNotif:hover, .btnNotif.active, .btnNotif:active, .open > .dropdown-toggle.btnNotif, .btnIdioma:hover, .btnIdioma:active, .btnIdioma:visited, .btnIdioma:focus, .btnIdioma.active.focus, .btnIdioma.active:focus, .btnIdioma.active:hover, .btnIdioma.focus:active, .btnIdioma:active:focus, .btnIdioma:active:hover, .open > .dropdown-toggle.btnIdioma.focus, .open > .dropdown-toggle.btnIdioma:focus, .open > .dropdown-toggle.btnIdioma:hover, .btnIdioma.active, .btnIdioma:active, .open > .dropdown-toggle.btnIdioma {
    background: #B3E5FC;
}

/* subHeader tablas */
thead {
    background: #E0F2F1;
}

@media screen and (max-width: 767px) {
    /* Top bar y header de tablas */
    .header {
        background: url('../img/tema1.png') bottom center repeat-x #B3E5FC;
        background-size: 400px 100px;
    }
}