/* Color principal */
.franjaTop, #sidebar-wrapper, .btn-success, .navbar-inverse .navbar-toggle {
    background: #B0BEC5;
    border-color: #B0BEC5;
}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #B0BEC5;
}

/*Color principal hover-active */
/*Un poco mas osbcuro que el principal */
.sidebar-nav li.activoli {
    background: #CFD8DC url(../img/ramita.png) no-repeat bottom left;
}
.sidebar-nav li:nth-child(2):before,
.sidebar-nav li:nth-child(3):before,
.sidebar-nav li:nth-child(4):before,
.sidebar-nav li:nth-child(5):before,
.sidebar-nav li:nth-child(6):before,
.sidebar-nav li:nth-child(7):before,
.sidebar-nav li:nth-child(8):before,
.sidebar-nav li:nth-child(9):before,
.btn-success:hover, .btn-success:focus, .btn-success:active:hover, .btn-success:visited {
    background-color: #CFD8DC;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #CFD8DC;
}


/* Top bar y header de tablas */
.header {
    background: #ECEFF1;
}
.panel-body, .boxNotif:hover, .boxNotif:active, .boxNotif:focus {
    background: #ECEFF1;
}
/* Dropdown hover */
.btnNotif:hover, .btnNotif:active, .btnNotif:visited, .btnNotif:focus, .btnNotif.active.focus, .btnNotif.active:focus, .btnNotif.active:hover, .btnNotif.focus:active, .btnNotif:active:focus, .btnNotif:active:hover, .open > .dropdown-toggle.btnNotif.focus, .open > .dropdown-toggle.btnNotif:focus, .open > .dropdown-toggle.btnNotif:hover, .btnNotif.active, .btnNotif:active, .open > .dropdown-toggle.btnNotif, .btnIdioma:hover, .btnIdioma:active, .btnIdioma:visited, .btnIdioma:focus, .btnIdioma.active.focus, .btnIdioma.active:focus, .btnIdioma.active:hover, .btnIdioma.focus:active, .btnIdioma:active:focus, .btnIdioma:active:hover, .open > .dropdown-toggle.btnIdioma.focus, .open > .dropdown-toggle.btnIdioma:focus, .open > .dropdown-toggle.btnIdioma:hover, .btnIdioma.active, .btnIdioma:active, .open > .dropdown-toggle.btnIdioma {
    background: #CFD8DC;
}

/* subHeader tablas */
thead {
    background: #ECEFF1;
}

